:root {
}

.panel-body {
  transition: all 0.5s ease-in-out;
  border: 2px solid black;
}
.rounded {
  border-radius: 4px !important;
}

body {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li::before {
  content: "\f105";  
  font-family: "FontAwesome";  
  margin-right: 8px; 
}

ul li::before {
  content: "\2022";  
  color: #007bff; 
  margin-right: 8px;  
}

.bg-light {
  /* background-image: url(https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_seasonal/_worship/WOR_VenueTransition_Background_2000x800.png); */
  background-color: #efefee
}

.bg-dark {
  /* background-image: url(https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_seasonal/_worship/WOR_VenueTransition_Hero_2000x800.png); */
  background-color: #ffffff;
}

.bg-placeholder {
  /* background-image: url(https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_seasonal/_worship/WOR_VenueTransition_Background_2000x800.png); */
  background-color: #efefee
  /* background-image: url(https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_seasonal/_worship/WOR_VenueTransition_Hero_2000x800.png); */
}

.bg-placeholder-other {
  /* background-image: url(https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_seasonal/_worship/WOR_VenueTransition_Background_2000x800.png); */
  /* background-image: url(https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_seasonal/_worship/WOR_VenueTransition_Hero_2000x800.png); */
  background-color: #ffffff;
}

.bg-white {
  background-color: white;
}

.texture-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://images.unsplash.com/photo-1514388614019-c755c395185c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-position: center top;
  max-width: 100%;
}

.vert-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-name-container {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.service-name-container::before {
    content: "\f51d";  
    font-family: "Font Awesome 5 Free";  
    margin-right: 10px;  
    color: #333;  
    font-weight: 900; 
}


.service-name {
    display: inline;
    font-weight: bold;
    
}

.service-content{
  margin: 4rem;
}

 

.underline-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:5rem;
  /* height: 100vh; */
}

.btn-text {
  display: block;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-family: 'Hanken Grotesk', sans-serif;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  color: #212121;  

}

.btn-text::after {
  content: "";
  position: absolute;
  bottom: -0.01em;
  left: 0;
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #212121 50%, rgba(33, 33, 33, 0.3) 50%);  
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);  
}

.btn-text:hover::after {
  background-position: 0% 50%;
}

.border-radius-global {
  border-radius: 2px;
}

.tag {
  font-weight: 800;
  background-color: white;
  padding: 6px 10px 6px 12px;
  display: inline-block;
  /* margin: 1px; */
}

@media (min-width: 768px) {
  .vertical-text {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      text-align: left;
  }

 
}

@media (max-width: 992px) {
  .cuff {
    min-height: 410px;

  }


}


.h-text {
  display: block;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-family: 'Poppin', sans-serif;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  color: #212121;  
}

.btn-container {
  position: relative;
  top: 0;
  z-index: 1000;  
  background-color: white;  
  padding-top: 0px;  
  width:fit-content;
  min-width: 100vw;
}

.campusBG{
  background-image: url(https://rockrms-assets.s3.us-east-2.amazonaws.com/images/_seasonal/_worship/WOR_VenueTransition_Hero_2000x800.png);
  background-size: cover;
}

.woodlands-bg {
  background-image: url(https://s3.us-east-2.amazonaws.com/rockrms-assets/twms-images/campuses-bg/Woodlands%20-%20White.jpg);
  background-repeat: no-repeat;  
  background-size: cover;  
  background-position: center;  
  z-index: -1;
}

.woodforest-bg {
  background-image: url(https://s3.us-east-2.amazonaws.com/rockrms-assets/twms-images/campuses-bg/Woodforest%20-%20White.jpg);
  background-repeat: no-repeat;  
  background-size: cover;  
  background-position: center;  
  z-index: -1;
}

.bg-campus{
  background-color: #862633;
  background-repeat: no-repeat;  
  background-size: cover;  
  background-position: center;  
  z-index: -1;

}


.card-t-and-l {
  background-color: white;
  
}
 
.tag-no-bg {
  letter-spacing: 0.3em;
  font-family: 'Arial', sans-serif;
  font-weight: 800;
  color: #862633;
  padding: 6px 10px 6px 12px;
  display: inline-block;
  font-size: 16px;
  /* margin: 1px; */
}

.let-spa-m {
  letter-spacing: 0.3em;

}

.cuff{
  background-color: #862633;
  
  display: flex;
  min-height: 100px;
  flex-direction: column;
  justify-content: end;
}


@media (max-width: 1200px) {
  .tag-no-bg {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: #862633;
    padding: 6px 10px 6px 12px;
    display: inline-block;
    font-size: 14px;
    /* margin: 1px; */
  }

  
}

@media (max-width: 992px) {
  .tag-no-bg {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: #862633;
    padding: 4px 8px 4px 10px;
    display: inline-block;
    font-size: 12px;
    /* margin: 1px; */
  }

  
}